@model EShop.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <section id="form">
        <!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="col-sm-1">
                        <h2 class="or">Reset Password</h2>
                        <div class="col-sm-1">
                            <div class="login-form">

                                @using (Html.BeginForm("changePassword", "Account", FormMethod.Post))
                                {
                                    @Html.HiddenFor(model => model.Id)
                                    @Html.HiddenFor(model => model.FirstName)
                                    @Html.HiddenFor(model => model.LastName)
                                    @Html.HiddenFor(model => model.UserName)
                                    @Html.HiddenFor(model => model.Email)
                                    @Html.HiddenFor(model => model.SecretQuestion)
                                    @Html.HiddenFor(model => model.SecretAnswer)
                                    @Html.HiddenFor(model => model.ProfilePhoto)
                                    @Html.HiddenFor(model => model.Age)

                                    @Html.TextBoxFor(model => model.Password, new { @placeholder = " Enter New Password" })
                                    @Html.ValidationMessageFor(model => model.Password)
                                    <button type="submit" class="btn btn-default" id="log">Submit</button>
                                }


                            </div><!--/login form-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/form-->
</body>
</html>
